* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.login-container {
  height: 100vh;
  width: 100vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    min-width: 320px;
    max-width: 1000px;
    border-radius: 10px;
    padding: 10px 0;

    .login__logo {
      background-color: red;
      border-radius: 10px;
      padding: 10px;
      color: white;
    }

    .login__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;

      .login__input {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 10px 0;
        label {
          margin: 0 0 5px 0;
        }
        input {
          padding: 10px;
          border-radius: 10px;
        }
      }

      button {
        width: 30%;
        padding: 10px 0;
        margin: 10px 0;
        border: none;
        border-radius: 20px;
        background-color: red;
        color: white;
      }
    }
  }
}
