* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  background-color: red;

  .logo {
    h1 {
      color: white;
    }
  }
  nav {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        margin: 0 15px;
        color: white;
      }
    }
  }

  button {
    padding: 5px 20px;
    border: none;
    border-radius: 15px;
    background-color: rgb(216, 20, 20);
    color: white;
  }
}
